[submodule "base"]
	path = base
	url = ../vst3_base
[submodule "cmake"]
	path = cmake
	url = ../vst3_cmake
[submodule "doc"]
	path = doc
	url = https://github.com/steinbergmedia/vst3_doc.git
[submodule "pluginterfaces"]
	path = pluginterfaces
	url = ../vst3_pluginterfaces
[submodule "public.sdk"]
	path = public.sdk
	url = ../vst3_public_sdk
[submodule "tutorials"]
	path = tutorials
	url = https://github.com/steinbergmedia/vst3_tutorials.git
[submodule "vstgui4"]
	path = vstgui4
	url = https://github.com/steinbergmedia/vstgui.git
